/*===========================
変数
============================*/
//font-family
$lobster: 'Lobster', cursive;
$kosugi: 'Kosugi Maru', sans-serif;
$sawarabi: 'Sawarabi Gothic', sans-serif;

//font-size
$font_s: .9em;
$font_r: 1em;
$font_m: 1.1em;
$font_l: 1.7em;
$font_xl: 2.2em;


/*===========================
変数
============================*/
//font-family
$lobster: 'Lobster', cursive;
$kosugi: 'Kosugi Maru', sans-serif;
$sawarabi: 'Sawarabi Gothic', sans-serif;

//font-size
$font_s: .9em;
$font_r: 1em;
$font_m: 1.1em;
$font_l: 1.7em;
$font_xl: 2.2em;

//padding, margin
$space_s: 1%;
$space_m: 3%;
$space_l: 5%;
$space_xl: 9%;

//color
$main: #fff;
$accent: #DEBC27;
$accent-light: #E5CA50;
$header: #668e68;
$footer: #655046;
$footer-light: #6d574c;
$notice: #ea5549;


/*===========================
base
============================*/
body {
  color: $main;
  background: $main;
}
body, .submit, .input, .textarea, .select, option{
  font-family: $kosugi;
}

a {
  text-decoration: none;
  color: $main;
  &:hover {
    text-decoration: underline;
  }
}

/*===========================
layout
============================*/
.site-width {
  width: 90%;
  margin: 0 auto;
}
.main {
  padding: 7% 0;
  @media screen and (max-width:1024px) {
    padding: 10% 0;
  }
  @media screen and (max-width:480px) {
    padding: 15% 0;
  }
}
.colum-2 .main{
  width: 75%;
  padding: 0;
  @media screen and (max-width:768px) {
    width: 100%;
  }
}
#mypage.colum-2 .main {
  width: 80%;
}
.colum-2.main {
  padding: 4% 0;
}
#index, #login, #signup {
  background-image: url(../img/index-food.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .bg-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 7% 0 20% 0;
    @media screen and (max-width:1024px) {
      padding: 15% 0 40% 0;
    }
  }
}


/*===========================
header
============================*/
#header {
  width: 100%;
  height: 8%;
  background: $header;
  padding: $space_s 0;
  color: #fff;

  .site-width {
    display: flex;
    justify-content: space-between;
  }

  .header-logo-right {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo-right_img img {
      width: 90%;
      height: 90%;
      vertical-align: bottom;
    }
    .logo-right_text {
      span {
        font-size: $font_s;
        padding-left: 15px;
      }
      h1 {
      font-family: $lobster;
      font-size: $font_xl;
        a:hover {
          text-decoration: none;
        }
     }
    }
  }

  .header-logo-left {
    ul {
      display: flex;
      align-items: center;
      height: 60px;
      li {
        padding-left: 10px;
      }
      a {
        padding: 15px 0 15px 15px;
      }
    }
  }

  .menu-trigger {
    display: none;
  }

  @media screen and (max-width:768px) {
    .sp-none {
      display: none;
    }
    .site-width {
      padding: 1% 0;
    }
    .header-logo-right {
      margin: 0 auto;
      .logo-right_img {
        width: 20%;
      }
      .logo-right_text {
        padding: 0;
      }
    }
    .nav-menu {
      display: none;
      position: absolute;
      top: 0;
      right: -100%;
      background: $header;
      width: 100%;
      height: 100vh;
      padding-top: 50px;
      transition: .5s;
      ul {
        display: block;
        li {
          display: flex;
          justify-content: space-between;
          text-align: left;
          margin: 0 3%;
          font-size: 1.3em;
          padding: 5%;
          border-bottom: #fff solid 2px;
          &::after {
            font-family: "Font Awesome 5 Free";
            content: '\f054';
            font-weight: 900;
          }
        }
        a {
          color: #fff;
          padding: 0;
        }
      }
      &.active {
        display: block;
        transition: .5s;
        transform: translateX(-100%);
        z-index: 2;
      }
    }
    .menu-trigger {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      position: relative;
      width: 35px;
      height: 32px;
      z-index: 3;
      margin: auto 0;
      span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 4px;
        &:nth-of-type(1){
          top: 0;
        }
        &:nth-of-type(2){
          top: 14px;
        }
        &:nth-of-type(3){
          bottom: 0;
        }
      }
      &.active span {
        &:nth-of-type(1){
          transform: translateY(12px) rotate(-45deg);
        }
        &:nth-of-type(2){
          opacity: 0;
        }
        &:nth-of-type(3){
          transform: translateY(-15px) rotate(45deg);
        }
      }
    }
  }
}

/*===========================
main
============================*/

/*===========================
form
============================*/
.form {
  background: $accent-light;
  width: 35%;
  margin: 0 auto;
  padding: 4% $space_m;
  overflow: hidden;
  border-radius: 4px;
  box-sizing: border-box;
  &-title {
    font-size: $font_l;
    text-align: center;
    padding-bottom: $space_l;
  }
  &-label {
    font-size: $font_m;
    &.image {
      margin-bottom: $space_s;
    }
  }
  .input {
    width: 100%;
    padding: $space_l $space_m;
    box-sizing: border-box;
    font-size: $font_m;
    margin-top: 2%;
  }
  .submit {
    padding: $space_m $space_xl;
    height: 55px;
    float: right;
    font-size: $font_m;
    margin-top: 10%;
  }
  .checkbox {
    width: 18px;
    height: 18px;
    position: relative;
    bottom: -3px;
  }
  .badge.notice {
    background: $notice;
    color: #fff;
  }
  .flex .notice-label {
    position: relative;
    top: -1px;
  }
  .js-imgDrop {
    position: relative;
    width: 50%;
    height: 100%;
    background: #f6f5f4;
    color: #ccc;
    text-align: center;
    display: block;
    margin-top: $space_s;
    line-height: 200px;
  }
  .active.js-imgDrop {
    background: $accent-light;
    color: $accent-light;
  }
  .input-file {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .js-prev-img {
    width: auto;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .link {
    text-decoration: underline;
    color: $footer;
    &:hover {
      text-decoration: none;
    }
  }

  @media screen and (max-width:1024px) {
    width: 50%;
    padding: 6% 4%;
  }
  @media screen and (max-width:768px) {
    width: 60%;
    padding: 8% 4%;
  }
  @media screen and (max-width:480px) {
    width: 90%;
    padding: 10% 6%;
    .input {
      border: $accent solid 2px;
    }
    a {
      color: $footer;
    }
    .submit {
      margin-top: 13%;
    }
  }
}

/* ==== login ====*/
#login .form{
  .submit {
    margin-top: $space_xl + $space_xl;
  }
  .link {
    display: block;
    padding-top: 6%;
  }
  .form-label:last-of-type .area-msg {
    margin-bottom: 0;
  }
}


/*==== recipeRegister ====*/
#recipeRegister .form {
  width: 50%;
  .input {
    font-size: $font_s;
    padding: $space_m;
    margin-top: $space_s;
  }
  .textarea {
    height: 200px;
    margin-top: $space_s;
    &.ingredient {
      width: 50%;
      display: block;
    }
  }
  .flex {
    justify-content: flex-start;
  }
  .m-b {
    margin-bottom: $space_l;
  }
  .m-l {
    margin-left: $space_xl;
    @media screen and (max-width: 480px) {
      margin-left: 0;
    }
  }
  @media screen and (max-width:1024px) {
    width: 70%;
  }
  @media screen and (max-width: 480px) {
    width: 90%;
    background: #fff;
    color: $footer;
    .input, .textarea, .select {
      border: $accent solid 2px;
    }
    .select {
      font-size: .9em;
    }
    .form-label {
      font-size: 1em;
    }
    .textarea.ingredient {
      width: 100%;
    }
    .js-imgDrop {
      width: 100%;
    }
    .block {
      display: block;
    }
  }
}
#recipeRegister {
  @media screen and (max-width:480px) {
    .pc-none {
      display: block;
    }
    .sp-none {
      display: none;
    }
  }
}

/*===========================
sidebar
============================*/
.sidebar{
  padding: $space_m;
  width: 20%;
  height: 500px;
  background: $accent-light;
  box-sizing: border-box;
  border-radius: 4px;
  .recipe-search {
    margin-bottom: 22%;
    text-align: center;
  }
  .search-title {
    text-align: left;
  }
  .select {
    width: 100%;
    box-sizing: border-box;
    font-size: $font_s;
    padding: $space_l;
    background: #fff;
    border: none;
  }
  .input {
    width: 100%;
    box-sizing: border-box;
  }
  .submit {
    margin-top: 1%;
  }
}
#mypage .sidebar {
  width: 16%;
  padding: $space_m;
  a{
    display: block;
    margin-bottom: $space_xl + $space_l;
  }
}
#recipeList .sidebar {
  .submit {
    padding: 10px 25px;
  }
  @media screen and (max-width:768px) {
    width: 100%;
    height: auto;
    padding: 2%;
    margin-top: 3%;
    margin-bottom: 6%;
    &.sp-none {
      display: none;
    }
    &.pc-none {
      display: flex;
    }
    .recipe-search {
      margin: 0 auto;
      &.flex {
        justify-content: center;
        align-items: flex-end;
      }
    }
    .selectbox {
      margin-right: 5%;
      margin-bottom: 0;
    }
    .submit {
      margin-top: 0;
      padding: 0 4%;
      height: 35px;
    }
  }
  @media screen and (max-width:480px) {
    &.pc-none {
      display: block;
      padding: 3%;
    }
    .recipe-search.flex {
      justify-content: space-between;
    }
    .recipe-search:first-of-type {
      margin-bottom: 3%;
    }
  }
}

/*==== recipe-search ====*/
.selectbox {
  margin-bottom: $space_m + $space_m;
}

/*===========================
index
============================*/
#index {
  .form-text {
    text-align: center;
    margin-top: 15%;
    p {
      font-size: 1.6em;
      color: $footer;
      padding-bottom: 3%;
      @media screen and (max-width:480px) {
        font-size: 1.3em;
      }
    }
    .flex {
      justify-content: center;
      align-items: flex-end;
    }
    .submit {
      background: $accent;
      width: 100%;
    }
    a:first-of-type {
      margin-right: 4%;
    }
  }
}

/*===========================
mypage
============================*/
#mypage {
  .border {
    margin-bottom: $space_m;
  }
  .title {
    color: $footer;
    font-size: 1.3em;
    font-weight: bold;
    .fa-heart {
      font-size: 1.4em;
    }
    &.flex {
      justify-content: flex-start;
      align-items: center;
    }
    img {
      width: 30px;
      height: 30px;
    }
    i {
      font-weight: bold;
    }
    .text {
      margin: 0 $space_s;
    }
  }
  .cook {
    margin-top: 2%;
  }

  @media screen and (max-width:1024px) {
    .sidebar {
      width: 100%;
      height: auto;
      a{
        margin-bottom: 3%;
        &:last-of-type {
          margin-bottom: 0;
        }
        &::after {
          font-family: "Font Awesome 5 Free";
          content: '\f054';
          font-weight: 900;
          padding-left: 2%;
        }
      }
    }
    &.colum-2.flex {
      display: block;
      .main {
        width: 100%;
      }
    }
    .recipeList-body {
      .panel {
        margin-right: 1.7%;
      }
      &.flex {
        margin-left: 0;
      }
    }
  }

  @media screen and (max-width:768px) {
    .sidebar {
      padding: 5%;
      a {
        margin-bottom: 4%;
      }
    }
    .border {
      border: none;
      padding: 0;
      margin-bottom: 10%;
      margin-top: 4%;
    }
    .title {
      .fa-heart{
        color: $footer !important;
      }
      &.todayRecipe {
        padding: 2% 3%;
      }
      &.title-label {
        border-radius: 3px;
      }
    }
    .recipeList-body {
      .panel {
        margin-right: 3%;
      }
      &.flex {
        margin-left: 3%;
        margin-top: 5%;
      }
      .panel .panel-head img {
        width: 141px;
        height: 100px;
      }
    }
  }
  @media screen and (max-width:480px) {
    .recipeList-body {
      &.flex {
        justify-content: space-around;
        margin-left: 0;
      }
      .panel {
        margin-right: 0;
      }
    }
  }
}

/* ==== mypageとrecipeListの共通部分 ===*/
.recipeList-body {
  margin-top: $space_m;
  &.flex {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 2%;
  }
  .panel {
    margin-bottom: $space_m;
    margin-right: 2%;
    .panel-head img{
      width: 200px;
      height: 150px;
    }
    .panel-body {
      color: $footer;
      font-size: $font_m
    }
    &:hover {
      opacity: .8;
    }
  }
  @media screen and (max-width:1024px) {
    &.flex {
      margin-left: 3%;
    }
    .panel {
      margin-right: 3%;
    }
  }
}

/*===========================
recipeList
============================*/
#recipeList {
  .recipeList-title {
    background: $accent-light;
    padding: $space_m;
    font-size: $font_m;
    border-radius: 4px;
  }
  @media screen and (max-width:480px) {
    .recipeList-title {
      display: block;
    }
    .recipeList-title-left {
      margin-bottom: 1%;
    }
    .recipeList-body {
      &.flex {
        margin-left: 0;
        justify-content: space-around;
      }
      .panel {
        margin-right: 0;
      }
      .panel .panel-head img {
        width: 141px;
        height: 100px;
      }
    }
  }
}

/*===========================
recipeDetail
============================*/
#recipeDetail {
  width: 65%;
  color: $footer;
  div.item-right {
    overflow: hidden;
    .button {
      float: right;
    }
  }
  .recipeDetail-top {
    margin-bottom: 1%;
  }
  .badge {
    background: $accent;
    color: #fff;
    margin-bottom: $space_m;
  }
  .title {
    font-size: $font_l;
    font-weight: bold;
  }
  .sub-title {
    font-size: $font_m;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: $space_m;
  }
  .recipe-icon.flex {
    justify-content: flex-start;
  }
  .icon {
    text-align: center;
    width: 117px;
    &:hover {
      cursor: pointer;
    }
    &:first-of-type {
      margin-right: $space_m;
    }
    .cook-icon{
      &.after {
        display: none;
      }
      &.after.active {
        display: inline-block;
      }
      &.before {
        display: inline-block;;
      }
      &.before.active {
        display: none;
      }
    }
    .icon-badge {
      font-size: 0.7em;
      background: $footer;
      color: #fff;
      border-radius: 20px;
      padding: $space_l;
      display: inline-block;
    }
    .fa-heart {
      font-size: 2.7em;
      padding-top: 2px;
      &.active {
        font-weight: bold;
      }
    }
  }
  .recipe-image {
    width: 45%;
    img {
      width: 100%;
    }
  }
  .recipe-ingredient {
    width: 45%;
  }
  .text {
    letter-spacing: 1px;
    line-height: 1.2;
  }
  .main-top {
    margin-bottom: $space_m;
  }
  .recipe-make {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: $space_m;
  }
  .recipe-comment {
    width: 100%;
    box-sizing: border-box;
  }
  .item-left {
    margin-top: $space_m;
    a {
     color: $footer;
    }
  }
  @media screen and (max-width:480px) {
    width: 90%;
    .recipeDetail-top {
      align-items: center;
    }
    .icon {
      width: 70px;
      .icon-badge {
        width: 80%;
      }
      &:first-of-type {
        margin-right: 0;
      }
    }
    .main-top {
      display: block;
    }
    .recipe-image {
      width: 100%;
      margin-bottom: 3%;
    }
    .recipe-ingredient {
      width: 100%;
      box-sizing: border-box;
    }
  }
}

/*===========================
pagination
============================*/
.pagination{
  .flex {
    justify-content: center;
  }
  &-list {
    margin: $space_s 0 $space_m 0;
  }
  .list-item {
    margin: 0 2%;
    a {
      color: $footer;
      font-weight: bold;
      font-size: 1.2em;
      padding: 3px;
      &:hover {
        text-decoration: none;
        border-bottom: $footer 2px solid;
      }
    }
    &.active a{
      border-bottom: $footer 2px solid;
    }
  }
}

/*===========================
footer
============================*/
#footer {
  width: 100%;
  background: $footer;
  text-align: center;
  padding: 20px;
  color: #fff;
  box-sizing: border-box;
}

/*===========================
error
============================*/
.area-msg {
  color: $notice;
  padding-top: $space_m;
  margin-bottom: $space_l + $space_s;
}
.err .input{
  background: #f7dcd9;
}

#recipeRegister .area-msg {
  padding-top: $space_s;
  margin-bottom: $space_l;
}
#recipeRegister .flex .area-msg {
  font-size: $font_s;
  margin-top: 2%;
}

/*===========================
その他
============================*/
.notice {
  color: $notice;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.msg-slide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: rgba(122,206,230,0.6);
  text-align: center;
  font-size: $font_r;
  line-height: 40px;
}
.submit {
  background: $footer;
  color: $main;
  border-radius: 4px;
  border: none;
  padding: 20px;
  font-size: $font_r;
  margin-top: $space_l;
  &:hover {
    cursor: pointer;
    background: $footer-light;
  }
}
.select {
  margin-top: 2%;
  padding: 2%;
  background: #fff;
  font-size: 1em;
  height: 50%;
  border: none;
  box-sizing: border-box;
  height: 30px;
}
.input {
  border-radius: 3px;
  border: none;
  background: $main;
  font-size: $font_r;
  padding: $space_l;
  margin-top: 2%;
}
.badge {
  padding: 5px;
  font-size: $font_s;
  border-radius: 3px;
  display: inline-block;
}
.border {
  border: 3px solid $accent;
  padding: $space_m;
  border-radius: 5px;
}
.pc-none {
  display: none;
}
@media screen and (max-width:768px) {
  .title-label {
    background: $accent-light;
    padding: 3.3%;
    color: #fff !important;
    font-size: 1.3em;
    font-weight: bold;
  }
}

//padding, margin
$space_s: 1%;
$space_m: 3%;
$space_l: 5%;
$space_xl: 9%;

//color
$main: #fff;
$accent: #DEBC27;
$accent-light: #E5CA50;
$header: #668e68;
$footer: #655046;
$footer-light: #6d574c;
$notice: #ea5549;


/*===========================
base
============================*/
body {
  color: $main;
  background: $main;
}
body, .submit, .input, .textarea, .select, option{
  font-family: $kosugi;
}

a {
  text-decoration: none;
  color: $main;
  &:hover {
    text-decoration: underline;
  }
}

/*===========================
layout
============================*/
.site-width {
  width: 90%;
  margin: 0 auto;
}
.main {
  padding: 7% 0;
  @media screen and (max-width:1024px) {
    padding: 10% 0;
  }
  @media screen and (max-width:480px) {
    padding: 15% 0;
  }
}
.colum-2 .main{
  width: 75%;
  padding: 0;
  @media screen and (max-width:768px) {
    width: 100%;
  }
}
#mypage.colum-2 .main {
  width: 80%;
}
.colum-2.main {
  padding: 4% 0;
}
#index, #login, #signup {
  background-image: url(../img/index-food.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .bg-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 7% 0 20% 0;
    @media screen and (max-width:1024px) {
      padding: 15% 0 40% 0;
    }
  }
}

/*===========================
header
============================*/
#header {
  width: 100%;
  height: 8%;
  background: $header;
  padding: $space_s 0;
  color: #fff;

  .site-width {
    display: flex;
    justify-content: space-between;
  }

  .header-logo-right {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo-right_img img {
      width: 90%;
      height: 90%;
      vertical-align: bottom;
    }
    .logo-right_text {
      span {
        font-size: $font_s;
        padding-left: 15px;
      }
      h1 {
      font-family: $lobster;
      font-size: $font_xl;
        a:hover {
          text-decoration: none;
        }
     }
    }
  }

  .header-logo-left {
    ul {
      display: flex;
      align-items: center;
      height: 60px;
      li {
        padding-left: 10px;
      }
      a {
        padding: 15px 0 15px 15px;
      }
    }
  }

  .menu-trigger {
    display: none;
  }

  @media screen and (max-width:768px) {
    .sp-none {
      display: none;
    }
    .site-width {
      padding: 1% 0;
    }
    .header-logo-right {
      margin: 0 auto;
      .logo-right_img {
        width: 20%;
      }
      .logo-right_text {
        padding: 0;
      }
    }
    .nav-menu {
      display: none;
      position: absolute;
      top: 0;
      right: -100%;
      background: $header;
      width: 100%;
      height: 100vh;
      padding-top: 50px;
      transition: .5s;
      ul {
        display: block;
        li {
          display: flex;
          justify-content: space-between;
          text-align: left;
          margin: 0 3%;
          font-size: 1.3em;
          padding: 5%;
          border-bottom: #fff solid 2px;
          &::after {
            font-family: "Font Awesome 5 Free";
            content: '\f054';
            font-weight: 900;
          }
        }
        a {
          color: #fff;
          padding: 0;
        }
      }
      &.active {
        display: block;
        transition: .5s;
        transform: translateX(-100%);
        z-index: 2;
      }
    }
    .menu-trigger {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      position: relative;
      width: 35px;
      height: 32px;
      z-index: 3;
      margin: auto 0;
      span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 4px;
        &:nth-of-type(1){
          top: 0;
        }
        &:nth-of-type(2){
          top: 14px;
        }
        &:nth-of-type(3){
          bottom: 0;
        }
      }
      &.active span {
        &:nth-of-type(1){
          transform: translateY(12px) rotate(-45deg);
        }
        &:nth-of-type(2){
          opacity: 0;
        }
        &:nth-of-type(3){
          transform: translateY(-15px) rotate(45deg);
        }
      }
    }
  }
}

/*===========================
main
============================*/

/*===========================
form
============================*/
.form {
  background: $accent-light;
  width: 35%;
  margin: 0 auto;
  padding: 4% $space_m;
  overflow: hidden;
  border-radius: 4px;
  box-sizing: border-box;
  &-title {
    font-size: $font_l;
    text-align: center;
    padding-bottom: $space_l;
  }
  &-label {
    font-size: $font_m;
    &.image {
      margin-bottom: $space_s;
    }
  }
  .input {
    width: 100%;
    padding: $space_l $space_m;
    box-sizing: border-box;
    font-size: $font_m;
    margin-top: 2%;
  }
  .submit {
    padding: $space_m $space_xl;
    height: 55px;
    float: right;
    font-size: $font_m;
    margin-top: 10%;
  }
  .checkbox {
    width: 18px;
    height: 18px;
    position: relative;
    bottom: -3px;
  }
  .badge.notice {
    background: $notice;
    color: #fff;
  }
  .flex .notice-label {
    position: relative;
    top: -1px;
  }
  .js-imgDrop {
    position: relative;
    width: 50%;
    height: 100%;
    background: #f6f5f4;
    color: #ccc;
    text-align: center;
    display: block;
    margin-top: $space_s;
    line-height: 200px;
  }
  .active.js-imgDrop {
    background: $accent-light;
    color: $accent-light;
  }
  .input-file {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .js-prev-img {
    width: auto;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .link {
    text-decoration: underline;
    color: $footer;
    &:hover {
      text-decoration: none;
    }
  }

  @media screen and (max-width:1024px) {
    width: 50%;
    padding: 6% 4%;
  }
  @media screen and (max-width:768px) {
    width: 60%;
    padding: 8% 4%;
  }
  @media screen and (max-width:480px) {
    width: 90%;
    padding: 10% 6%;
    .input {
      border: $accent solid 2px;
    }
    a {
      color: $footer;
    }
    .submit {
      margin-top: 13%;
    }
  }
}

/* ==== login ====*/
#login .form{
  .submit {
    margin-top: $space_xl + $space_xl;
  }
  .link {
    display: block;
    padding-top: 6%;
  }
  .form-label:last-of-type .area-msg {
    margin-bottom: 0;
  }
}


/*==== recipeRegister ====*/
#recipeRegister .form {
  width: 50%;
  .input {
    font-size: $font_s;
    padding: $space_m;
    margin-top: $space_s;
  }
  .textarea {
    height: 200px;
    margin-top: $space_s;
    &.ingredient {
      width: 50%;
      display: block;
    }
  }
  .flex {
    justify-content: flex-start;
  }
  .m-b {
    margin-bottom: $space_l;
  }
  .m-l {
    margin-left: $space_xl;
  }
  @media screen and (max-width:1024px) {
    width: 70%;
  }
  @media screen and (max-width: 480px) {
    width: 90%;
    background: #fff;
    color: $footer;
    .input, .textarea, .select {
      border: $accent solid 2px;
    }
    .select {
      background: #fff;
    }
    .form-label {
      font-size: 1em;
    }
    .textarea.ingredient {
      width: 100%;
    }
    .js-imgDrop {
      width: 100%;
    }
  }
}
#recipeRegister {
  @media screen and (max-width:480px) {
    .pc-none {
      display: block;
    }
    .sp-none {
      display: none;
    }
  }
}

/*===========================
sidebar
============================*/
.sidebar{
  padding: $space_m;
  width: 20%;
  height: 500px;
  background: $accent-light;
  box-sizing: border-box;
  border-radius: 4px;
  .recipe-search {
    margin-bottom: 22%;
    text-align: center;
  }
  .search-title {
    text-align: left;
  }
  .select {
    width: 100%;
    box-sizing: border-box;
    font-size: $font_s;
    padding: $space_l;
  }
  .input {
    width: 100%;
    box-sizing: border-box;
  }
  .submit {
    margin-top: 1%;
  }
}
#mypage .sidebar {
  width: 16%;
  padding: $space_m;
  a{
    display: block;
    margin-bottom: $space_xl + $space_l;
  }
}
#recipeList .sidebar {
  .submit {
    padding: 10px 25px;
  }
  @media screen and (max-width:768px) {
    width: 100%;
    height: auto;
    padding: 2%;
    margin-top: 3%;
    margin-bottom: 6%;
    &.sp-none {
      display: none;
    }
    &.pc-none {
      display: flex;
    }
    .recipe-search {
      margin: 0 auto;
      &.flex {
        justify-content: center;
        align-items: flex-end;
      }
    }
    .selectbox {
      margin-right: 5%;
      margin-bottom: 0;
    }
    .submit {
      margin-top: 0;
      padding: 0 4%;
      height: 35px;
    }
  }
  @media screen and (max-width:480px) {
    &.pc-none {
      display: block;
      padding: 3%;
    }
    .recipe-search.flex {
      justify-content: space-between;
    }
    .recipe-search:first-of-type {
      margin-bottom: 3%;
    }
  }
}

/*==== recipe-search ====*/
.selectbox {
  margin-bottom: $space_m + $space_m;
}

/*===========================
index
============================*/
#index {
  .form-text {
    text-align: center;
    margin-top: 15%;
    p {
      font-size: 1.6em;
      color: $footer;
      padding-bottom: 3%;
      @media screen and (max-width:480px) {
        font-size: 1.3em;
      }
    }
    .flex {
      justify-content: center;
      align-items: flex-end;
    }
    .submit {
      background: $accent;
      width: 100%;
    }
    a:first-of-type {
      margin-right: 4%;
    }
  }
}

/*===========================
mypage
============================*/
#mypage {
  .border {
    margin-bottom: $space_m;
  }
  .title {
    color: $footer;
    font-size: 1.3em;
    font-weight: bold;
    .fa-heart {
      font-size: 1.4em;
    }
    &.flex {
      justify-content: flex-start;
      align-items: center;
    }
    img {
      width: 30px;
      height: 30px;
    }
    i {
      font-weight: bold;
    }
    .text {
      margin: 0 $space_s;
    }
  }
  .cook {
    margin-top: 2%;
  }

  @media screen and (max-width:1024px) {
    .sidebar {
      width: 100%;
      height: auto;
      a{
        margin-bottom: 3%;
        &:last-of-type {
          margin-bottom: 0;
        }
        &::after {
          font-family: "Font Awesome 5 Free";
          content: '\f054';
          font-weight: 900;
          padding-left: 2%;
        }
      }
    }
    &.colum-2.flex {
      display: block;
      .main {
        width: 100%;
      }
    }
    .recipeList-body {
      .panel {
        margin-right: 1.7%;
      }
      &.flex {
        margin-left: 0;
      }
    }
  }

  @media screen and (max-width:768px) {
    .sidebar {
      padding: 5%;
      a {
        margin-bottom: 4%;
      }
    }
    .border {
      border: none;
      padding: 0;
      margin-bottom: 10%;
      margin-top: 4%;
    }
    .title {
      .fa-heart{
        color: $footer !important;
      }
      &.todayRecipe {
        padding: 2% 3%;
      }
      &.title-label {
        border-radius: 3px;
      }
    }
    .recipeList-body {
      .panel {
        margin-right: 3%;
      }
      &.flex {
        margin-left: 3%;
        margin-top: 5%;
      }
      .panel .panel-head img {
        width: 141px;
        height: 100px;
      }
    }
  }
  @media screen and (max-width:480px) {
    .recipeList-body {
      &.flex {
        justify-content: space-around;
        margin-left: 0;
      }
      .panel {
        margin-right: 0;
      }
    }
  }
}

/* ==== mypageとrecipeListの共通部分 ===*/
.recipeList-body {
  margin-top: $space_m;
  &.flex {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 2%;
  }
  .panel {
    margin-bottom: $space_m;
    margin-right: 2%;
    .panel-head img{
      width: 200px;
      height: 150px;
    }
    .panel-body {
      color: $footer;
      font-size: $font_m
    }
    &:hover {
      opacity: .8;
    }
  }
  @media screen and (max-width:1024px) {
    &.flex {
      margin-left: 3%;
    }
    .panel {
      margin-right: 3%;
    }
  }
}

/*===========================
recipeList
============================*/
#recipeList {
  .recipeList-title {
    background: $accent-light;
    padding: $space_m;
    font-size: $font_m;
    border-radius: 4px;
  }
  @media screen and (max-width:480px) {
    .recipeList-title {
      display: block;
    }
    .recipeList-title-left {
      margin-bottom: 1%;
    }
    .recipeList-body {
      &.flex {
        margin-left: 0;
        justify-content: space-around;
      }
      .panel {
        margin-right: 0;
      }
      .panel .panel-head img {
        width: 141px;
        height: 100px;
      }
    }
  }
}

/*===========================
recipeDetail
============================*/
#recipeDetail {
  width: 65%;
  color: $footer;
  div.item-right {
    overflow: hidden;
    .button {
      float: right;
    }
  }
  .recipeDetail-top {
    margin-bottom: 1%;
  }
  .badge {
    background: $accent;
    color: #fff;
    margin-bottom: $space_m;
  }
  .title {
    font-size: $font_l;
    font-weight: bold;
  }
  .sub-title {
    font-size: $font_m;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: $space_m;
  }
  .recipe-icon.flex {
    justify-content: flex-start;
  }
  .icon {
    text-align: center;
    width: 117px;
    &:hover {
      cursor: pointer;
    }
    &:first-of-type {
      margin-right: $space_m;
    }
    .cook-icon{
      &.after {
        display: none;
      }
      &.after.active {
        display: inline-block;
      }
      &.before {
        display: inline-block;;
      }
      &.before.active {
        display: none;
      }
    }
    .icon-badge {
      font-size: 0.7em;
      background: $footer;
      color: #fff;
      border-radius: 20px;
      padding: $space_l;
      display: inline-block;
    }
    .fa-heart {
      font-size: 2.7em;
      padding-top: 2px;
      &.active {
        font-weight: bold;
      }
    }
  }
  .recipe-image {
    width: 45%;
    img {
      width: 100%;
    }
  }
  .recipe-ingredient {
    width: 45%;
  }
  .text {
    letter-spacing: 1px;
    line-height: 1.2;
  }
  .main-top {
    margin-bottom: $space_m;
  }
  .recipe-make {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: $space_m;
  }
  .recipe-comment {
    width: 100%;
    box-sizing: border-box;
  }
  .item-left {
    margin-top: $space_m;
    a {
     color: $footer;
    }
  }
  @media screen and (max-width:480px) {
    width: 90%;
    .recipeDetail-top {
      align-items: center;
    }
    .icon {
      width: 70px;
      .icon-badge {
        width: 80%;
      }
      &:first-of-type {
        margin-right: 0;
      }
    }
    .main-top {
      display: block;
    }
    .recipe-image {
      width: 100%;
      margin-bottom: 3%;
    }
    .recipe-ingredient {
      width: 100%;
      box-sizing: border-box;
    }
  }
}

/*===========================
pagination
============================*/
.pagination{
  .flex {
    justify-content: center;
  }
  &-list {
    margin: $space_s 0 $space_m 0;
  }
  .list-item {
    margin: 0 2%;
    a {
      color: $footer;
      font-weight: bold;
      font-size: 1.2em;
      padding: 3px;
      &:hover {
        text-decoration: none;
        border-bottom: $footer 2px solid;
      }
    }
    &.active a{
      border-bottom: $footer 2px solid;
    }
  }
}

/*===========================
footer
============================*/
#footer {
  width: 100%;
  background: $footer;
  text-align: center;
  padding: 20px;
  color: #fff;
  box-sizing: border-box;
}

/*===========================
error
============================*/
.area-msg {
  color: $notice;
  padding-top: $space_m;
  margin-bottom: $space_l + $space_s;
}
.err .input{
  background: #f7dcd9;
}

#recipeRegister .area-msg {
  padding-top: $space_s;
  margin-bottom: $space_l;
}
#recipeRegister .flex .area-msg {
  font-size: $font_s;
  margin-top: 2%;
}

/*===========================
その他
============================*/
.notice {
  color: $notice;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.msg-slide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: rgba(122,206,230,0.6);
  text-align: center;
  font-size: $font_r;
  line-height: 40px;
}
.submit {
  background: $footer;
  color: $main;
  border-radius: 4px;
  border: none;
  padding: 20px;
  font-size: $font_r;
  margin-top: $space_l;
  &:hover {
    cursor: pointer;
    background: $footer-light;
  }
}
.select {
  margin-top: 2%;
  padding: 2%;
}
.input {
  border-radius: 3px;
  border: none;
  background: $main;
  font-size: $font_r;
  padding: $space_l;
  margin-top: 2%;
}
.badge {
  padding: 5px;
  font-size: $font_s;
  border-radius: 3px;
  display: inline-block;
}
.border {
  border: 3px solid $accent;
  padding: $space_m;
  border-radius: 5px;
}
.pc-none {
  display: none;
}
@media screen and (max-width:768px) {
  .title-label {
    background: $accent-light;
    padding: 3.3%;
    color: #fff !important;
    font-size: 1.3em;
    font-weight: bold;
  }
}
